/* work sans font from google font */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

/* header style */
header {
    background-color: rgb(241, 219, 198);
    padding: 50px 240px;
    /* height: 800px; */
}

.btn-primary {
    background-color: rgba(231, 223, 80, 0.773);
    border-radius: 10px;
    padding: 20px 25px;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    border: 0;
}

.banner-description .teams-description .facts-description .sponsor-description {
    color: rgba(0, 0, 0, 0.922);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title .facts-title .sponsor-title {
    font-size: 3rem;
    font-weight: 700;
    color: rgba(10, 3, 3, 0.788);
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: rgb(20, 9, 9);
}

/* banner styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: rgba(10, 3, 3, 0.788);
}

.banner img {
    margin-top: 15px;
    width: 100%;
}


/* main styles */
main {
    max-width: 1440px;
    margin: 50px auto;
}

/* teams styles */
.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding: 0 70px;
}

.teams-title {
    font-size: 2.8rem;

}

.teams-title .Quick ..card-title {
    color: #727272;
    font-weight: 500;
}

.teams-title .text-Features {
    color: #fff00e;
    font-weight: 700;
}

/* facts section style */
.facts-card-container {
    display: flex;
    gap: 15px;
    justify-content: space-around;
}



.facts-card-container .card {
    border: 1px solid blanchedalmond;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
}

.facts-card-container .card .card-title {
    font-weight: 600;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
}

.facts-card-container .card .card-stats {
    font-size: 2.8rem;
    color: #424242;
    margin: 10px 0;
}

/* sponsor section styles */
.sponsor-container {
    text-align: center;
}

.sponsor-img-container {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.sponsor-img-container img {
    width: 165px;
}

/* responsive media queries */
@media screen and (max-width: 576px) {
    header {
        padding: 15px;
    }

    nav,
    .teams-container,
    .facts-card-container,
    .sponsor-img-container {
        flex-direction: column;
    }

    .facts-card-container {
        padding: 15px;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    nav>ul {
        flex-direction: column;
    }

    .teams-content {
        padding: 0 10px;
    }
}


/* tablet or medium devices */
@media screen and (min-width:576px) and (max-width:992px) {

    nav,
    .teams-container {
        flex-direction: column;
    }

    /* .teams-img-container {
        grid-template-columns: 1fr;
    } */

    /* nav>ul {
        flex-direction: column;
    } */

    header {
        padding: 15px;
    }
}