/* work sans font from google font */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

/* header style */
header {
    background-color: rgb(241, 219, 198);
    padding: 50px 240px;
}

.btn-primary {}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 3rem;
    font-weight: 700;
    color: rgba(10, 3, 3, 0.788);
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: rgb(20, 9, 9);
}

/* banner styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: rgba(10, 3, 3, 0.788);
}

.banner-description {
    color: rgba(0, 0, 0, 0.922);
}